@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");

html,
body {
  height: 100%;
  overflow-y: auto;
}

.carouselSection {
  position: relative;
  // margin-bottom: 150px;
  //   margin-top: 20px;

  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 20px;
  }

  .carouselTitle {
    font-size: 28px;
    color: white;
    font-weight: 800;
    font-family: "Sunflower", sans-serif;
  }
}

@media (max-width: 768px) {
  .carouselSection .carouselTitle {
    font-size: 21px;
  }
}
.homePage::-webkit-scrollbar {
  width: 8px;
}

.homePage::-webkit-scrollbar-thumb {
  background: var(--netflix-red);
  border-radius: 4px;
}

.homePage::-webkit-scrollbar-track {
  background: var(--black3);
}
