html, body {
  height: 100%;
  overflow: hidden; // This disables scrolling completely

  // Firefox
  scrollbar-width: none;

  // WebKit (Chrome, Edge, Safari)
  &::-webkit-scrollbar {
    display: none;
  }
}
