.trusted-section {
  background: linear-gradient(135deg, #141414, #1f1f1f);
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 60px;
  background: radial-gradient(circle at top left, #1b1b1b, #0c0c0c);
  border: 2px solid rgba(255, 69, 0, 0.2);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto 60px;

  h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  p {
    font-size: 1.3rem;
    color: #cccccc;
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
  }

  // strong {
  //   color: #ffffff;
  //   font-weight: 600;
  // }
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;

  .slick-dots {
    bottom: 10px;
    li {
      margin: 0 4px;
      button {
        &:before {
          font-size: 12px;
          color: #fff;
          opacity: 0.6;
        }
      }
      &.slick-active button:before {
        color: #ffcc00;
        opacity: 1;
      }
    }
  }
}

.creator-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(29, 27, 27);
  color: #fff;
  border-radius: 10px;
  padding: 60px;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.mainbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}
.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.headtag {
  font-size: 3rem;
  font-weight: bold;
  color: #ffcc00;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #ff4d00, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
  border-bottom: 3px solid #ffcc00;
  display: inline-block;
}

.imagebox {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 5%;
  border: 3px solid #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.discribox {
  flex: 1;
  max-width: 550px;

  h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffcc00;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    color: #ddd;
  }
}

@media screen and (max-width: 768px) {
  .mainbox {
    flex-direction: column;
    text-align: center;
  }

  .imagebox {
    width: 120px;
    height: 120px;
  }
  .creator-card {
    padding: 20px;
  }

  .headtag {
    font-size: 2rem;
  }
  .discribox {
    h3 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }
  .trusted-section {
    padding: 5px;
    width: 95%;
  }
  .trusted-section {
    h2 {
      font-size: 25px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .imagebox {
    width: 100px;
    height: 100px;
  }

  .discribox {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 13px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1300px;
  }
}
